<div  class=" forecast-container " [@anim] >
	<div id="img"
		[ngClass]="{
		'sunny': windy.weatherID === 800,
		'rain': windy.weatherID >= 300 && windy.weatherID <= 321 || windy.weatherID >= 500 && windy.weatherID <= 531,
		'snow': windy.weatherID >= 600 && windy.weatherID <= 622,
		'thunder': windy.weatherID >= 200 && windy.weatherID <= 232,
		'clouds': windy.weatherID >= 801 && windy.weatherID <= 804,
		'fog': windy.weatherID === 701 || windy.weatherID === 741 || windy.weatherID === 721,
		'unavaliable': !windy.weatherID }">
	</div>
	<!--NEXT HOURS-->
	<div  class="material-shadow next-forecasts ">
		<dashy-next-forecasts ></dashy-next-forecasts>
	</div>

	<!--CURRENT-->
	<div id="current-forecast" class="material-shadow">
		<section>
			<div id="current-city-container">
				<form novalidate
					 [formGroup]="forecasts"
					 (ngSubmit)="city">
					<div>
						<input type="text"
							  formControlName="city"
							  placeholder="Città..."
							  autofocus
							  #city
							  id="select-city">
						<p *ngIf="windy.mainC " [@anim]>{{ windy.mainC | number: '1.0-0'}}°</p>
					</div>
					<p *ngIf="windy.weatherMessage " [@anim] class="weather-description">{{windy.weatherMessage}}</p>
					<p *ngIf="windy.error " [@anim] class="weather-description error">{{windy.error}}</p>
				</form>
			</div>

			<!--ERRORS-->
			<!-- Input touched not dirty-->
			<div class="error" [@anim] *ngIf="forecasts.get('city').hasError('required') && forecasts.get('city').touched">
				<p>Inserisci una città</p>
			</div>
			<!-- City inserted not a string-->
			<div class="error" [@anim] *ngIf="forecasts.get('city').hasError('pattern')">
				<p>Solo lettere</p>
			</div>

			<div class="sun-time" *ngIf="windy.sunrise && windy.sunset" [@anim]>
				<div>
					<span class="icon-sun"></span>
					{{windy.sunrise}}
				</div>

				<div>
					<span class="icon-moon"></span>
					{{windy.sunset}}
				</div>
			</div>
		</section>
	</div>
</div>
