@import "~src/assets/sass/styles";
$color: $theme-bg-color;
$unsplash-url-collection: 'https://source.unsplash.com/collection/';

$clouds-eve: '2082685';
$clouds-morning: '2082676';
$clear-eve: '2082681';
$rain: '2082710';
$snow: '2082741';
$sunny: '2082660';
$fog: '2082745';
$thunderstorm: '2082756';
$other: '3300945';

.forecast-container {
	display: grid;
	grid-template-areas:
		"img curr "
		"img curr "
;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 150px 150px;
	width: 100%;
}

#img {
	grid-area: img;
	-webkit-background-size: cover;
	background-size: cover;
	background-position:  center;
}

#current-forecast {
	grid-area: curr;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		& > div {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			width: 100%;
		}
}

.next-forecasts {
	grid-area: next;
	position: absolute;
	width: 20%;
	padding: 15px;
	top: 267px;
	background-color: $color;
}

#select-city {
	text-transform: capitalize;
	border: none;
	width: 80%;
	height: 50px;
	background: transparent;
	font-size: 2em;
	text-align: center;
}

.weather-description {
	text-align: center;
	padding-top: 20px;
	letter-spacing: 2px;
}

form > div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	& > p {
		font-size: 30px;
		width: 9vw;
		display: flex;
		align-items: center;
	}
}

p {
	text-transform: capitalize;
}

section {
	height: 70%;
	width: 70%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

input:focus {
	outline: none;
}

input::-webkit-input-placeholder {
	padding: 10px;
	height: 30px;
	text-align: left;
}

.sun-time {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	& > div {

		display: flex;
		flex-direction: column;
		align-items: center;

		& > span {
			font-size: 25px;
			margin-bottom: 10px;
		}
	}
}

// WEATHER BG

.bg-patterns-collection {
	background-image:  url($unsplash-url-collection + $other);
}

.sunny {
	background-image:  url($unsplash-url-collection + $sunny);
	//background-image:  url($unsplash-url-collection + $clear-eve);
}

.snow {
	background-image:  url($unsplash-url-collection + $snow);
}

.thunder {
	background-image:  url($unsplash-url-collection + $thunderstorm);
}

.clouds {
	background-image:  url($unsplash-url-collection + $clouds-morning);
}

.rain {
	background-image:  url($unsplash-url-collection + $rain);
}

.fog {
	background-image:  url($unsplash-url-collection + $fog) ;
}
