@import "~src/assets/sass/styles";

.round, .rect {
	border: 1px solid $theme-txt-color;
	background-color: transparent;
	color: $theme-txt-color;
	font-size: 16px;
	width: fit-content;
	text-align: center;
	transition: 0.5s linear;
}

button:focus {
	outline: none;
}

.rect {
	cursor: pointer;
	width: fit-content;
	padding: 10px 20px;
}

.round {
	cursor: pointer;
	height: 30px;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30px;
	border-radius: 50%;
	padding: 20px;
}

.filled {
	background-color: $theme-txt-color;
	color: $theme-bg-color;
	transition: 0.5s linear;
}

.filled:hover {
	background-color: transparent;
	color: $theme-txt-color;
	border: 1px solid $theme-txt-color;
	transition: 0.5s linear;
}
