<div *ngIf="filled">
	<button
		(click)="evt()"
		[disabled]="disabled"
		class="filled"
		[ngClass]="{'round' : round, 'rect': rect}"
	>
		<ng-container *ngIf="name !== '' ">
			<p>{{name}}</p>
		</ng-container>

		<ng-container *ngIf="icon">
			<span [class]="'icon-'+icon"></span>
		</ng-container>

		<ng-container *ngIf="!name && !icon">
			<ng-content></ng-content>
		</ng-container>
	</button>
</div>

<div *ngIf="!filled">
	<button
		(click)="evt()"
		[disabled]="disabled"
		[ngClass]="{'round' : round, 'rect': rect}"
	>
		<ng-container *ngIf="name !== '' ">
			<p>{{name}}</p>
		</ng-container>

		<ng-container *ngIf="icon">
			<span [class]="'icon-'+icon"></span>
		</ng-container>

		<ng-container *ngIf="!name && !icon">
			<ng-content></ng-content>
		</ng-container>
	</button>
</div>
