@import "~src/assets/sass/styles";

.w {
	width: 90%;
}
.display {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.v {
	flex-direction: column;
}

.h {
	flex-direction: row;
	text-align: center;
}

.title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
	letter-spacing: 1px;
}

header {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

h3 {
	margin: 0;
}
p, span{
	-webkit-font-smoothing: antialiased;
}

p:not(:last-child) {
	margin-bottom: 5px;
}

p:first-of-type {
	font-size: 1em;
}

p:last-of-type {
	font-size: 0.9em;
}
