<div class=" v w">
	<header>
		<div>
			<span class="icon-sun-wind header-icon"></span>
		</div>
		<div>
			<h3>Meteo nelle prossime ore</h3>
		</div>
	</header>
	<div class="display h" *ngIf="citySelected" [@anim]>
		<section *ngFor="let data of infoForecasts">
			<div>
				<p id="time">
					<b>{{ data.time}}</b>
				</p>

				<!--Icone-->
				<p *ngIf=" data.id >= 200 && data.id <= 232">
					<span class="icon-cloud-lightning"></span>
				</p>
				<p *ngIf=" data.id >= 300 && data.id <= 321">
					<span class="icon-rain3"></span>
				</p>
				<p *ngIf=" data.id >= 500 && data.id <= 531">
					<span class="icon-umbrella2"></span>
				</p>
				<p *ngIf=" data.id >= 600 && data.id <= 622">
					<span class="icon-snow2"></span>
				</p>
				<p *ngIf=" data.id === 800">
					<!--Notte o giorno-->
					<span *ngIf="data.isNight">
					<span class="icon-moon"></span>
				</span>
					<span *ngIf="!data.isNight">
					<span class="icon-sun"></span>
				</span>
				</p>
				<p *ngIf=" data.id === 721 || data.id === 731 ||  data.id === 751 || data.id === 762">
					<span class="icon-menu2"></span>
				</p>
				<!---->
				<p *ngIf=" data.id >= 801 && data.id <= 804">
					<span class="icon-cloud"></span>
				</p>

				<!--temperature-->
				<p>
					{{ data.temp | number: '1.0-0' }}°C
				</p>
				<!---->

			</div>
		</section>
	</div>
</div>

<!--Lo slice pipe può essere usato anche per poter iterare solo una parte di un array: es | slice: 0:5 -->
