<div *ngIf="tableSchema && dataSource">
	<table>
		<thead>
		<tr>
			<th *ngFor="let h of tableSchema.fields">{{h.label}}</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let d of dataSource; let index = index">
			<td *ngFor="let h of tableSchema.fields">

				<ng-container *ngIf="h.key !== 'actions' && h.key !=='icon'  && h.key !=='image'">
					{{d[h.key ]}}
				</ng-container>

				<ng-container *ngIf="h.key === 'icon'">
					<img  src="../../../assets/{{d[h.key]}}.png" [alt]="d[h.key]" >
				</ng-container>

				<ng-container *ngIf="h.key === 'image'">
					<img  [src]="d[h.key]" [alt]="d[h.key]" >
				</ng-container>

				<ng-container *ngIf="h.key === 'actions'">
					<dashy-button-group
						[items]="tableSchema.buttons"
						[item]="{
								row: d,
								rowIndex: index
								}"
					>
					</dashy-button-group>
				</ng-container>
			</td>
		</tr>
		</tbody>
	</table>
</div>
