@import "../../../assets/sass/styles";

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table, th, td {
	padding: 5px;
	border: none;
}

th, thead {
	//color: $almost-black;
	text-align: left;
	padding-bottom: 20px;
}

thead,
tr:not(:last-child) {
	border-bottom: 1px solid $light-grey;
}

img {
	height: 30px;
	width: 30px;
}

