<div class="p-30">
	<header>
		<div>
			<span class="logo icon-gamepad header-icon"  > </span>
		</div>
		<div>
			<h3>Steam -  Game list</h3>
		</div>
	</header>
	<section>
		<article>Half Life</article>
		<article>Half Life 2</article>
		<article>Portal</article>
		<article>Portal 2</article>
		<article>...</article>
	</section>
</div>
