@import "~src/assets/sass/styles";

.container {
	padding: 30px;
}
section:not(:last-child) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
section:last-child {
	margin-top: 20px;
	display: flex;
	flex-flow: row-reverse;
}

header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.circle {
	border-radius: 50%;
	width: 50px;
	background-size: cover;
	background: no-repeat center;
}
