<div class="p-30">
	<header>
		<div >
			<span class="circle icon-calendar-check header-icon" ></span>
		</div>
		<div>
			<h3>Eventi</h3>
		</div>
	</header>
	<section>
		<dashy-table
			[tableSchema]="tableSchema"
			[dataSource]="dataSource"
			(deleteEvent)="deleteRow($event)"
		>
		</dashy-table>
	</section>
	<section>
		<dashy-button-group
			[items]="buttonSchema.buttons"
			[item]="buttonSchema"
			(addEvent)="openDialog($event)"
		>
		</dashy-button-group>
	</section>
</div>
