<div class="container dark">
	<section>
		<!--<div class="circle logo" ></div>-->
		<div>
			<p class="gradiented-text">Dashy</p>
		</div>
	</section>

	<section>
		<div class="circle profile"></div>
	</section>
</div>
