@import "../../../assets/sass/styles";

//$color: $white-smoke;
$bg: $theme-header;

.container {
	background: $bg;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
}

.logo{
	background-image: url("../../../assets/images/un.jpg");
}

.profile {
	background-image: url("../../../assets/images/sealy.png");
}

p {
	font-size: 2.4em;
	padding-left: 50px;
}

.theming {
	width: 20%;
}

.amber {
	$color: $mint-dark;
	background-color: $goldy;
}

.technologic {
	$color: #26a69a;
	background-color: $mint-dark;

}

.darky {
	$color: $violet-wire;
	background-color: $violet-wire;
}

.pony {
	$color: #e5a5a5;
	background-color: #f3decf;
}



