@import "~src/assets/sass/styles";

.container {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;

	& > div > h3 + h4 {
		margin-left: 20px;
	}
}

.circle {
	border-radius: 50%;
	width: 40px;
	background-size: cover;
	background: no-repeat center;
}

.logo {
	width: 40px;
	background-size: cover;
	background: no-repeat center;
}
