<div class="p-30">
	<header>
		<div>
			<span class="header-icon icon-chart-growth "></span>
		</div>
		<div *ngIf="lastPatch">
			<h3>LoL - Current meta in {{lastPatch.elo}}</h3>
		</div>
	</header>
	<section  *ngFor="let bestChamp of bestChampions">
		<h4>Patch {{lastPatch.patch}}</h4>
		<article>
			<img class="logo" [src]="imgUrl+bestChamp.sprite" alt="">
		</article>
		<article>{{ bestChamp.score | percent }}</article>
		<article>+ 2% ^</article>
		<article>graph</article>
	</section>

</div>
