<div class="p-30">
	<div id="img" *ngIf="mediatype !== 'video'">
		<header>
			<div >
				<a href="https://apod.nasa.gov/apod/" target="_blank">
					<span class="circle icon-satellite2 header-icon" ></span>
				</a>
			</div>
			<div>
				<h3>Nasa - Picture of the day</h3>
			</div>
		</header>
		<section>
			<img id="apod" *ngIf="url" [src]="url" alt="">
		</section>
		<section id="descr">
			<h4>{{title}}</h4>
			<p>{{description}}</p>
			<br>
			<p>{{date}}</p>
			<br>
			<p>{{copyright}}</p>
		</section>
	</div>

	<div id="vid" *ngIf="mediatype === 'video'">
		<section>
			<article>
				<img src="../../../assets/images/NASA_logo.svg.png" alt="">
			</article>
			<article>
				<p>
					Oggi niente immagini ma un  <a [href]="url">video</a>
				</p>
			</article>
		</section>
	</div>

</div>
