@import "~src/assets/sass/styles";

.container {
	padding: 30px;
}

img {
	width: 300px;
}

header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

#vid > section {
	width: auto;
	height: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	& > article:first-of-type {
		width: auto;
		height: auto;

		& > img {
			width: 150px;
		}
	}
}

#img > section:not(:first-child){
	display: flex;
	flex-direction: column;

	& > article:first-of-type {
		width: auto;
		height: auto;
	}

	& > #apod {
		width: 100%; /* or any custom size */
		height: 100%;
		object-fit: contain;
		margin-bottom: 20px;
	}

	 &#descr {
		height: 200px;
		overflow-y: scroll;
	}

	& > section:first-child {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > article:last-child {
			display: inline-block;
			padding-left: 10px;
		}
	}
}

.circle {
	border-radius: 50%;
	width: 50px;
	background-size: cover;
	background: no-repeat center;
}

a, a:visited, a:focus {
	cursor: pointer;
	color: $theme-txt-color
}



