@import "~src/assets/sass/styles";

input {
	text-transform: capitalize;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
	height: 50px;
	background: transparent;
	font-size: 1em;
	border-bottom: 1px solid $deepsky;
	transition: 0.5s linear;
}

input:focus {
	outline: none;
	width: 100%;
	border-bottom: 1px solid $mint;
}

input::-webkit-input-placeholder {
	padding: 10px;
	height: 30px;
	text-align: left;
}

label {
	font-size: 1.3em;
}

article {
	padding-bottom: 30px;
}
article:last-of-type {
	display: flex;
	flex-flow: row-reverse;
}
