<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
	<article>
		<label>
			Scegli la data di scadenza

		</label>
		<input
			type="date"
			formControlName="date"
			value="today"
			(change)="change($event)"
		>
	</article>
	<article>
		<label>
			Descrivi l'evento
		</label>
		<input type="text" formControlName="description">
	</article>
	<article *ngIf="eventForm.valid">
		<p *ngIf="dueDate" i18n>Mancano {{dueDate}} giorni a {{dateSelected | date: 'EEEE d MMMM y'  }}!</p>
	</article>
	<article>
		<dashy-button-group
			[items]="dialogSchema.buttons"
			[item]="eventForm.value"
			(cancelEvent)="close()"
			(saveEvent)="onSubmit()"
		>
		</dashy-button-group>
	</article>
</form>

