<div class="p-30">
	<header>
		<div>
			<span class=" header-icon icon-stream-check" ></span>
		</div>
		<div>
			<h3>Twitch -Streamers online</h3>
		</div>
	</header>
	<div>
		<section>
			<article>
				<div class="dot isOn"></div>
			</article>
			<article>
				<img class="circle" src="../../../assets/images/sealy.png" >
			</article>
			<article>
				<p>Jack Garrus</p>
			</article>
		</section>

		<section>
			<article>
				<div class="dot isOff"></div>
			</article>
			<article>
				<img class="circle" src="../../../assets/images/sealy.png" >
			</article>
			<article>
				<p>Jack Garrus</p>
			</article>
		</section>

		<section>
			<article>
				<div class="dot isOn"></div>
			</article>
			<article>
				<img class="circle" src="../../../assets/images/sealy.png" >
			</article>
			<article>
				<p>Jack Garrus</p>
			</article>
		</section>
	</div>
</div>
