@import "~src/assets/sass/styles";

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}


.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.isOn {
	background-color: #ABFF00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.isOff {
	background-color: #F00;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.circle {
	border-radius: 50%;
	width: 50px;
	background-size: cover;
	background: no-repeat center;
}

.logo {
	width: 50px;
	background-size: cover;
	background: no-repeat center;
}

section {
	display: flex;
	align-items: center;

	& > article:not(:first-child) {
		padding-left: 20px;
	}
}

section:not(:last-child) {
	margin-bottom: 20px;
}

