<div class="dashy ">
	<dashy-card id="windy" >
		<dashy-forecasts></dashy-forecasts>
	</dashy-card>

	<dashy-card id="apod" >
		<dashy-nasa-apod></dashy-nasa-apod>
	</dashy-card>

	<dashy-card id="moti">
		<dashy-motivator></dashy-motivator>
	</dashy-card>

	<dashy-card id="event">
		<dashy-countdown></dashy-countdown>
	</dashy-card>

	<dashy-card id="twitch">
		<dashy-twitch></dashy-twitch>
	</dashy-card>

	<!--<dashy-card id="lol" >-->
		<!--<dashy-lol></dashy-lol>-->
	<!--</dashy-card>-->

	<dashy-card id="steam">
		<dashy-steam></dashy-steam>
	</dashy-card>
</div>
