@import "../../../assets/sass/styles";
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls');

.dashy {
	display: grid;
	grid-template-areas:
		"weather weather weather"
		"apod 	moti		event "
		"apod    steam 	twitch"
	;

	grid-template-columns: 0.5fr 0.5fr 0.5fr;
	grid-template-rows:  repeat(auto,  1fr);
	grid-gap: 20px;
}

#windy {
	grid-area: weather;
}

#apod {
	grid-area: apod;
}

#twitch {
	grid-area: twitch;
	height: fit-content;
}

#lol {
	grid-area: lol;
	width: 100%;
	height: fit-content;
}

#moti {
	grid-area: moti;
	width: 100%;
	height: auto;
}

#steam {
	grid-area: steam;
}

#event {
	grid-area: event;
}

div {
	padding: 50px;
}
