@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Spirax');
//@import url('https://fonts.googleapis.com/css?family=Codystar|Sniglet');
@import "palette";

@mixin font($size: false, $color: false, $weight: false, $align: false) {
	font-family: 'Raleway', sans-serif;
	@if $size { font-size: $size; }
	@if $color { color: $color; }
	@if $align { text-align: $align; }
	@if $weight { font-weight: $weight; }
}


@mixin font($ff: false, $size: false, $color: false, $weight: false, $align: false) {
	@if $ff {font-family: $ff}
	@if $size { font-size: $size; }
	@if $color { color: $color; }
	@if $align { text-align: $align; }
	@if $weight { font-weight: $weight; }
	@content
}

@mixin bgc($bg: false) {
	@if $bg {background-color: $bg;}
}

@mixin theme-amber() {
	@include font($ff: 'Crafty Girls', $color: $deep-grey);
	@include bgc($bg: $goldy);
}

@mixin theme-technologic() {
	@include font($ff: 'Audiowide', $color: $almost-black);
	@include bgc($bg: $mint-dark);
}

@mixin theme-darky() {
	@include font($ff: 'Audiowide', $color: #00c853);
	@include bgc($bg: #673ab7);
}

@mixin theme-pony() {
	@include font($ff: 'Spirax', $color: $deep-grey);
	@include bgc($bg: #f3decf);
}

@mixin theme-antisgamo() {
	@include font($ff: 'Raleway', $color: #b0bec5);
	@include bgc($bg: #546e7a);
}

@mixin theme-ninja() {
	@include font($ff: 'Raleway', $color: #dde2e2);
	@include bgc($bg: #9eaebd);
}

//@mixin sea() {
//	@include font($ff: 'Raleway', $color: $theme-txt-color);
//	@include bgc($bg: $theme-bg-color);
//}




