$white-smoke: #F7F7F7;
$white-snow:  #FBFBFB;
$grey-light-ice: #DEE3E5;
$light-grey: #9e9e9e;
$deep-grey: #616161;
$almost-black: #424242;
$mint: #48D5B5;
$mint-dark: #00bfa5;
$deepsky: #1EAAF1;
$lime: #cddc39;
$goldy: #ffd54f;
$honey: #FDC02F;
$orange-light: #FDA64F;
$orange: #ff9100;
$orange-dark: #ff6d00;
$deep-orange: #f4511e;
$red: #e53935;

$pure-violet: blueviolet;
$violet-wire: #353f61;
$mint-green: #2EDD62;
$shodan: #00c853;
$medium-sea-green: #33B24E;

// Sea
$sea-1: #86d7c1;
$sea-2: #27c3ea;
$sea-3: #0e698b;
$sea-4: #253854;

