@import "mixins", "palette";

#container,
#info-current-forecast,
#forecast-next,
.unavaliable,
input,
input::-webkit-input-placeholder,
.error {
	// 1
	//@include theme-amber();

	// 2
	//@include theme-technologic();

	// 3
	//@include theme-darky()

	//4
	//@include theme-pony();

	//5
    //@include theme-antisgamo();

	//6
	//@include theme-ninja()

	//@include sea()
}


body {
	//	1
	//@include bgc($bg: $mint-dark);

	// 2
	//background-color: #26a69a;

	//3
	//background-color: $violet-wire;

	//4
	//background-color: #e5a5a5;
	
	//5
	//background-color: #78909c;
	//margin: 0;
	//padding: 0;

	//6
	//background-color: whitesmoke;
}
