@import "mixins", "palette", "theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$theme-bg-color: #373737;
$theme-txt-color: $mint;
$theme-body-color: #212121;
$theme-header: #424242 ;

body {
	background-color: $theme-body-color;
	color: $theme-txt-color;
	font-family: 'Raleway', sans-serif;
	margin: 0
}

.p-30{
	padding: 30px;
}

.gradiented-text, h3, h2, h1, label {
	background: #00c9ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00c9ff, #92fe9d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #00c9ff, #92fe9d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container,
#info-current-forecast,
#forecast-next,
.unavaliable,
input,
input::-webkit-input-placeholder,
.error {
	background-color: $theme-bg-color;
	@include font($ff: 'Raleway', $color: $theme-txt-color)
}

p {
	margin: 0;
}

.material-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-shadow:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mat-dialog-container {
	background-color: $theme-bg-color;
	color: $theme-txt-color;
	width:80%;
	padding: 30px 50px
}

h3 {
	font-size: 1.2em;
	padding-left: 20px;
}

.header-icon {
	font-size: 1.5em;
}


